/* import the google api font */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
 /* supress browser defaults and select alternate box model*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif, Tahoma;
 /* Set variables for colors */
  --bg-primary: #eff7ff; /*Alice Blue*/
  --bg-secondary: #558c8c; /*Dark Cyan*/
  --font-color-primary: #e8db7d; /*Flax*/
  --font-color-secondary: #82204a; /*Murrey*/
  --backup-color: #231123; /*Dark purple*/
  --second-backup-color: #5f1a37 /* Tyrian Purple*/
}

/* Desktop Styling DO I NEED??*/
body {
    display: flexbox;
    background-color: var(--bg-primary); /*Alice Blue*/
    height: 100%;
    margin: 0%;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Style the navbar header */
.navbar {
      background-color: var(--font-color-secondary);
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 80px;
      padding: 0 50px;
      width: 100%;
}

/* Style the name in the header */
.navbar h2 {
      color: var(--font-color-primary);
      text-decoration: none;
      justify-content: flex-start;
      margin-left: 50px; 
      margin-right: 877px;
}

/* Style the children of the header */
.navbar nav ul {
      color: var(--second-backup-color);
      display: flex;
      font-weight: 775;
      justify-content: flex-end; /* Right-align the items */
      margin-left: auto;
}

/* Make the list without bullets*/
.navbar ul li {
      list-style: none;
}

/* Decorate list elements */
.navbar ul li a {
    text-decoration: none; /* Takes away underline */
    color: var(--font-color-primary);
    -webkit-text-stroke: .3px var(--backup-color);
    font-size: 16px;
    margin-right: 50px;
}
/* END NAVBAR EDITING */

.heading {
    color: var(--backup-color);
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;
    ;
}

.fav-book {
  background-color: var(--bg-secondary);
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* gap: 0px; */
  padding: 0 50px;
}

.fav-book h4 {
  color: var(--font-color-primary);
  font-size: 32px;
  font-weight: 300;
}

.fav-book img {
  height: 400px;
  width: 300px;
  padding: 5px;
}

.fav-book .info .book-title {
  color: var(--font-color-primary);
  font-size: 30px;
  margin: 0 0 10px;
}

.fav-book .info button {
  background-color: var(--font-color-secondary);
  border: none;
  color: var(--font-color-primary); /* Button text color */
  padding: 10px 20px; /* Button padding */
  text-decoration: none;
  font-size: 20px; /* Button text font size */
  cursor: pointer; /* Pointer cursor*/
  margin: 10px 0 20px;
  border-radius: 6px;
}

.fav-book .info button a {
  text-decoration: none;
  color: var(--font-color-primary);
}

.fav-book .info .testimony {
  color: var(--font-color-primary);
  font-weight: 300;
}

.fav-song {
  background-color: var(--bg-primary);
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* gap: 0px; */
  padding: 0 10px;
}

.fav-song h4 {
  color: var(--font-color-secondary);
  font-size: 30px;
  font-weight: 500;
}

.fav-song .song-title {
  color: var(--font-color-secondary);
  font-size: 50px;
}

.fav-song .album {
  color: var(--font-color-secondary);
  font-size: 20px;
}

.fav-song .song-items img {
  padding-top: 5px;
}

.fav-song button {
  background-color: var(--font-color-secondary);
  border: none;
  color: var(--font-color-primary); /* Button text color */
  padding: 10px 20px; /* Button padding */
  text-decoration: none;
  font-size: 20px; /* Button text font size */
  cursor: pointer; /* Pointer cursor*/
  margin: 10px 0 20px;
  border-radius: 6px;
}

.fav-song button a {
  text-decoration: none;
  color: var(--font-color-primary);
}

.fav-show {
  background-color: var(--bg-secondary);
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* gap: 0px; */
  padding: 0 50px;
}

.fav-show h4 {
  color: var(--font-color-primary);
  font-size: 25px;
  font-weight: 300;
}

.fav-show .show-title {
  color: var(--font-color-primary);
  font-size: 50px;
  font-weight: 300;
}

.fav-show .show-desc {
  color: var(--font-color-primary);
  font-size: 20px;
}

.fav-show .iframe {
  padding-top: 5px;
}

footer {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      height: 80px;
      padding: 0 50px;
      width: 100%;
}

footer p {
      margin-top: 30px;
      width: 100%
}

footer .link {
      text-align: right;
}